{{!-- HEADER --}}
{{> _header }}
<tr>
  <td class="email-body" width="570" cellpadding="0" cellspacing="0">
    <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" role="presentation">
      <!-- Body content -->
      <tr>
        <td class="content-cell">
          <div class="f-fallback">
            <h1>Bienvenid@ {{name}} {{lastName}}!</h1>
            <p>
              Gracias por probar SmartCore, estamos encantados de
              tenerte a bordo. Para comenzar, necesitamos que verifiques tu dirección de correo electrónico:
            </p>
            <!-- Action -->
            <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td align="center">
                  <!-- Border based button
           https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
                    <tr>
                      <td align="center">
                        <!-- <a href="<%= username %>" class="f-fallback button" target="_blank">Do this
                                    Next</a> -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <p>Datos registrados para nueva instancia:</p>
            <p><strong>Celular:</strong> <br>{{phone}}</p>
            <p><strong>Correo:</strong> <br>{{email}}</p>
            <p><strong>Organizacion:</strong></p>
            <ul>
              <li>subdomino: {{organization.subdomain}}</li>
              <li>aws_s3_bucket: {{organization.aws_s3_bucket}}</li>
            </ul>

            <table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
              <tr>
                <td class="attributes_content">
                  <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <td class="attributes_item">
                        <span class="f-fallback">
                          <!-- <strong>Login Page:</strong> -->
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td class="attributes_item">
                        <span class="f-fallback">
                          <!-- <strong>Username:</strong> <%= username %> -->
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <!-- Sub copy -->
            <table class="body-sub" role="presentation">
              <tr>
                <td>
                  <p class="f-fallback sub">
                    Si tiene problemas con el botón de arriba,
                    copia y pega la siguiente URL en tu web
                    navegador.
                  </p>
                  <!-- <p class="f-fallback sub"><%= name %></p> -->
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
{{!-- FOOTER --}}
{{> _footer }}
